<% if user_signed_in? %>
  <h2>You!</h2><!-- TODO: change to choreo/studio/etc -->
  <p>Hi <strong><%=current_user.username%></strong>. You're signed in with the email <strong><%=current_user.email %></strong> and apparently your name is <strong><%=current_user.first_name %> <%=current_user.last_name%></strong>. Very clutch.</p>
  <a type="button" class="btn btn-default" href="<%= logout_path %>">Logout</a>
<% else %>
  <h2>Want to get down?</h2>
  <p>Create a profile to add your preferences.</p>
  <a type="button" class="btn btn-warning" href="<%= signup_path %>">Sign up</a>
  <a type="button" class="btn btn-default" href="<%= login_path %>">Login</a>
<% end %>
