<%= render "home/navbar" %>
<div class ="profile-container spec container">
<div><h3>Add An Experience</h3>
        <h5>Treat this section like your resume. Tell us what you've done - be it collaborations with other choreographers or teaching classes at a studio</h5>
      <!-- printing errors -->

      <% if flash.key?(:experience_errors) and flash[:experience_errors].any? %>
         <div>ERRORS</div>
         <% flash[:experience_errors].each do |k, v| %>
           <div>Attribute: <%= k %></div>
           <div>Error msg: <%= v %></div>
         <% end %>
      <% end %>

    <!-- form itself -->
    <%= bootstrap_form_for @experience do |experience_form| %>
      <div><%= experience_form.text_field :content, placeholder: 'Content'
      %></div>
      <%= experience_form.fields_for :experiencelinks do |link_form|
      %>

        <div><%= link_form.select :collab_type,
      options_for_select(["Select one", "dancer", "studio", "company"],"Select one"),
      placeholder: 'Collab type' %></div>
        <div><%= link_form.text_field :collab_id, placeholder: 'Collab id' %></div>
      <% end %>
      <div><%= experience_form.submit 'Add Experience' %></div>
      
    <% end %>
    </div>
    
  </div>