edit your profile:
<%= form_for @user do |user_form| %>
  <div><%= user_form.text_field :title, placeholder: 'Current title / 1 line summary' %>
  </div>
  <div><%= user_form.text_area :blurb, placeholder: 'Blurb' %>
  </div>
  <div><%= user_form.text_field :city, placeholder: 'City' %>
  </div>
  <div><%= user_form.text_field :state, placeholder: 'State' %>
  </div>
  <div><%= user_form.text_field :style_list, placeholder: 'comma separated dance styles' %>
  </div>
  <%= user_form.submit 'Edit profile' %>
<% end %>
<br><br>
<div>ADDING AN EXPERIENCE
<%= form_for @experience do |experience_form| %>
  <div><%= experience_form.text_field :content, placeholder: 'Content'
  %></div>
  <%= experience_form.fields_for :experiencelinks do |link_form|
  %>
    <div>Adding an experience link</div>
    <div>Collab type<%= link_form.select :collab_type,
  options_for_select(["dancer", "studio", "company"]),
  placeholder: 'Collab type' %></div>
    <div><%= link_form.text_field :collab_id, placeholder: 'Collab id' %></div>
  <% end %>
  <div><%= experience_form.submit 'Add experience' %></div>
  
<% end %>
</div>

<!-- DEBUGGING CODE -->
<br><br>
<div>ALL EXPERIENCES
  <% @user.experiences.each do |exp| %>
    <div>Content: <%= exp.content %></div>
    <% exp.experiencelinks.each do |link| %>
      <a href="<%= get_url(link) %>"><%= get_title(link) %></a>
    <% end %>
  <% end %>
<div>
