edit your profile:
<%= form_for @user do |user_form| %>
  <div><%= user_form.text_field :title, placeholder: 'Current title / 1 line summary' %>
  </div>
  <div><%= user_form.text_area :blurb, placeholder: 'Blurb' %>
  </div>
  <div><%= user_form.text_field :city, placeholder: 'City' %>
  </div>
  <div><%= user_form.text_field :state, placeholder: 'State' %>
  </div>
  <div><%= user_form.text_field :style_list, placeholder: 'comma separated dance styles' %>
  </div>
  <%= user_form.submit 'Edit profile' %>
<% end %>

<div>ADDING AN EXPERIENCE
<%= form_for @experience do |experience_form| %>
  <div><%= experience_form.text_field :content, placeholder: 'Content'
  %></div>
  <%= experience_form.fields_for :experiencelinks do |link_form|
  %>
    <div>Collab type<%= link_form.text_field :collab_type,
  placeholder: 'Collab type' %></div>
    <div>Id<%= link_form.text_field :collab_id, placeholder: 'User id' %></div>
  <% end %>
  <div><%= experience_form.submit 'Add experience' %></div>
  
<% end %>
</div>

<div>
  <% @user.experiences.each do |exp| %>
    <div>Content: <%= exp.content %></div>
  <% end %>
<div>
