<%= render "home/navbar" %>
<div class="spec container submitter custom-form">
    <h1><b>Edit Profile</b></h1>
    <h3>General Information:</h3>

    <!-- printing errors -->
    <% if flash.key?(:user_errors) and flash[:user_errors].any? %>
       ERRORS
       <% flash[:user_errors].each do |k, v| %>
         <div>Attribute: <%= k %></div>
         <div>Error msg: <%= v %></div>
       <% end %>
    <% end %>

    <!-- errors themselves -->
    <%= bootstrap_form_for @user do |user_form| %>
      <div><%= user_form.text_field :title, placeholder: 'One-line summary of what you do (i.e. Contemporary Choreographer / Dancer)' %>
      </div>
      <div><%= user_form.text_area :blurb, label: "Personal Statement", placeholder: 'Tell us a little more about yourself - dance background, occupational desires, perspective on life.' %>
      </div>
      <div><%= user_form.text_field :city, label: "Current City", placeholder: 'City' %>
      </div>
      <div><%= user_form.text_field :state, label: "Current State", placeholder: 'State' %>
      <!-- State should be a dropdown -->
      </div>
      <div><%= user_form.text_field :style_list, label: "Your Dance Styles", placeholder: 'List different styles with a comma in between (i.e. tap, jazz, hip hop)' %>
      </div>
    <br>

    <h3>Contact Information</h3>
    <h5> Gain more followers for your social media sites! Leave your info here.</h5>
      <div><%= user_form.text_field :fb_url, label: "Facebook Page", placeholder: 'Copy & paste your Facebook URL here' %>
      </div>
      <div><%= user_form.text_field :twtr_url, label: "Twitter", placeholder: 'twitter url', placeholder: "Copy & paste your Twitter URL here" %>
      </div>
      <div><%= user_form.text_field :yt_url, label: "YouTube Account", placeholder: 'Copy & paste your YouTube URL here' %>
      </div>
      <div><%= user_form.text_field :ig_url, label: 'Instagram', placeholder: "Copy & paste your Instagram URL here" %>
      </div>
      <div><%= user_form.text_field :website_url, placeholder: 'Copy & paste your personal website\'s URL here', label: 'Personal Website' %>
      </div>
      <div>
        <%= user_form.text_field :phone_area_code, label: "Phone: (", :size => 3, placeholder: '###', :maxlength => 3 %><b> )</b>
        <%= user_form.text_field :phone_1, hide_label: true, :maxlength => 3 %><b>&nbsp;-</b>
        <%= user_form.text_field :phone_2,  hide_label: true, :size => 3, :maxlength => 4 %>
      </div>
      <%= user_form.submit 'Update Contact Info', class: "btn btn-block btn-warning" %>
    <% end %>
    <br/>      
</div>
