<%= render "home/navbar" %>
<div class ="profile-container spec container">
	<div class="profile-header row">
		<div class="propic col-md-3">
			<%= image_tag "blank_profile.jpg" %>
		</div>

		<div class="main-info col-md-4">
			<h1><b><%= @user.get_full_name %></b>
				<% if current_user.id == @user.id %>
					<%= link_to 'Edit', user_settings_path, class: "btn btn-warning" %>
				<% end %>
			</h1>

			<p>
			<% if @user.title!="" && @user.title !=nil%>
				<%= @user.title %><br/>
			<% elsif current_user.id == @user.id %>
				<div class="reminder">Edit profile to add a title.</div>
			<% end %>

			<% if @user.city !="" && @user.city != nil%>
				<%= @user.city %>, <%= @user.state %><br/>
			<% elsif current_user.id == @user.id %>
				<div class="reminder">Edit profile to add your current location.</div>
			<% end %>
			</p>

			<% if @user.blurb!="" && @user.blurb != nil %>
				<h4><div class="blurb"><%=@user.blurb%></div></h4>
			<% elsif current_user.id == @user.id %>
				<div class="reminder"> Edit profile to add a personal blurb about yourself.</div>
			<%end%>
		</div>
		<div class="col-md-5 social-media">
                  <!-- in helpers/users_helper.rb -->
                  <%= make_contact_icon(@user.yt_url,
		      "youtube-icon.png") %>
                  <%= make_contact_icon(@user.fb_url,
		      "facebook-icon.png") %> <br/>
                  <%= make_contact_icon(@user.ig_url,
		      "insta-icon.png") %>
                  <%= make_contact_icon(@user.twtr_url,
		      "twitter-icon.png") %>

<br/>	
			<b>E-MAIL:</b> <%= @user.email %> <br/>
                        <% phone_num = @user.get_phone_number %>
                        <% if phone_num != "" %>
			<b>PHONE: </b><%= phone_num %>
                        <% end %>
		</div>
	</div>
	<br>

	<h2>Video Portfolio <a href="<%= new_video_path %>" class="btn btn-warning">Share a Video</a></h2>
	<% if @user.videos.size == 0 %>
		<h4 class="reminder">Hmm... It appears that you haven't add videos to your portfolio. What're you waiting for? Go share a video!</h4>
	<%end%>
	<% for v in @user.videos do%>
		<div class="row">
			<div class="col-md-3 vid-thumbnail">
				<img src="http://img.youtube.com/vi/<%=v.youtube_id%>/0.jpg" >
			</div>
			<div class="col-md-8">
				<h3><a href=<%= video_path(v) %>><%= v.title %></a><br/></h3>
				<%= v.description %>
			</div>
		</div>
		<hr>
	<% end %>

	<br/>

	<h2>Experience <a href="<%= add_experience_path %>" class="btn btn-warning">Add Experience</a></h2>
	<% if @user.experiences.size == 0 %>
		<h4 class="reminder">Tell us more about your life. Add some experiences here!</h4>
	<% end %>

	<ul>
		<% @user.experiences.each do |exp| %>
	    	<li><%= exp.content %>
	    	<% exp.experiencelinks.each do |link| %>
	      		<%=  get_collab_field(link) %>
	    	<% end %>
	    	</li>
	  	<% end %>
  	</ul>
  	<br/>

  	<% if current_user.id == @user.id && @user.get_studios_that_user_owns.size==0 %>
  		<h2>Own a studio? <%= link_to 'Add Your Studio', new_studio_path, class: "btn btn-warning" %></h2>
		<h4 class="reminder">Create a page for it! Once you create a studio, it's page will be linked here on your profile.</h4>
  	<% else %>
	  	<h2>Studios Owned
	  		<% if current_user.id == @user.id %>
					<%= link_to 'Create Studio', new_studio_path, class: "btn btn-warning" %>
			<% end %>
		</h2>

		<ul>
		  	<% for s in @user.get_studios_that_user_owns %>
			  	<li>
			  		<h3><%= link_to(s.name,
			  		studio_path(s),
			  		"data-no-turbolink" => "true") %></h3>
			  	</li>
		  	<%end%>
	  	</ul>
  	<% end %>
</div>
