<%= render "home/navbar" %>
<div class="container spec">
	<h1><b>All Videos</b></h1>

	<% for v in @videos do %>
		<div class="row">
		<div class="listing-photo col-md-3">
			<a href=<%= video_path(v) %>> <img src="http://img.youtube.com/vi/<%=v.youtube_id%>/0.jpg" > </a>
			
		</div>
		<div class="col-md-6">
				<h3><b><a href=<%= video_path(v) %>><%= v.title %></a></h3></b>
				<h5><b>Posted by: TODO - FIGURE THIS OUT.</b></h5>
				<div class="listing-blurb"><h5><%= v.description %></h5></div>
			</div>
		</div>
		<hr>
	<% end %>
</div>