<div style="max-width: 330px; padding: 15px; margin: 0 auto">
<h1>Video Share</h1>
<%= bootstrap_form_for @video do |f| %>
  <div>
    <%= f.text_field :title, placeholder: 'Title' %>
  </div>
  <div>
    <%= f.text_field :youtube_id, placeholder: 'YouTube ID' %>
  </div>
  <div>
    <%= f.text_area :description, placeholder: 'Add a description' %>
  </div>
  <div>
    <%= f.submit 'Share Video', class: "btn btn-lg btn-warning btn-block" %>
  </div>
<% end %>
</div>