<%= form_for @video do |f| %>
  <div>
    <%= f.text_field :title, placeholder: 'Title' %>
  </div>
  <div>
    <%= f.text_field :youtube_url, placeholder: 'Youtube URL' %>
  </div>
  <div>
    <%= f.text_area :description, placeholder: 'Add a description' %>
  </div>
  <div>
    <%= f.submit 'Share Video' %>
  </div>
<% end %>
