<%= render "home/navbar" %>
<div class="container spec display">
	<h1><%= @video.title %>
	<% if current_user.id == @video.user.id %>
	<%= link_to 'Edit', edit_video_path(@video), class: "btn btn-warning" %>	
	<% end %>
	</h1>

	<div class="center" id="video">
	<iframe width="640" height="360" src="//www.youtube.com/embed/<%= @video.youtube_id %>?rel=0" frameborder="0" allowfullscreen></iframe>
	</div>

	<div id="data">
		<p><b>Description</b><br><%= @video.description %></p>
		<p><b>Shared by</b><br><%= link_to @video.get_users_name, user_path(@video.user_id) %></p>
		<p><b>Share date</b><br><%= @video.created_at %></p>
	</div>
	</div>
</div>