<h1>Events Feed</h1>
	<p><span class="lead">Find upcoming events!</span><br /><small>All events in ascending order</small></p>
	<ul>
		<% Event.find_each do |e| %>
		  <h3><b><a href="<%= event_path(e) %>"><%= e.name %></a></b></h3>
		  <div>Description: <%= e.description %></div>
		  <div>Created by: <a href="<%= studio_path(e.studio_id)%>"><%= e.studio.name %></a></div>
		  <div><b>Date and time</b><br><%= @event.event_date %>
                [at] <%= @event.event_time.strftime("%H:%M") %></div>
		<% end %>
	</ul>
</div>
