<nav class="navbar navbar-inverse navbar-static-top navbarspec" role="navigation" id="nbar"> 
	<div class="container">
		<div class="navbar-header">
		<!-- Toggle -->
		      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
		        <span class="sr-only">Toggle navigation</span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		      </button>
		<!-- DanceSpace Name -->
			<a class="navbar-brand" href="<%= root_path
			%>" data-no-turbolink="true" style="font-weight: 100; font-size: 30px; color:white">DanceSpace</a>
		</div>

		<!-- Collect nav links and forms for toggling -->
		<div class="collapse navbar-collapse" id="navcollapseresults">
			<!-- User Profile Info -->

        <!-- SEARCH BAR -->
        <%= form_tag search_path, :method => 'get' do %>
          <div>
            <%= text_field_tag :query, params[:query] %>
            <%= submit_tag "Search", :name => nil %>
          </div>
	    <% end %>

		<ul class="nav navbar-nav navbar-right">
		<% if user_signed_in? %>
<!-- 	<a href="<%= new_video_path %>" class="btn btn-default navbar-btn">Share a Video</a> -->	        
<!-- <a href="<%= random_user_path %>" class="btn btn-default navbar-btn">Random Dancer!</a> -->
<!-- <a href="<%= get_it_path %>" class="btn btn-default navbar-btn">Random Video!</a> -->
 			<a href=<%= current_user.get_profile_url
 			%> class="btn btn-default navbar-btn"><strong><%=current_user.first_name %></strong></a>
	        <a href="<%= logout_path %>" class="btn btn-default navbar-btn">Logout</a>
		<% else %>
		  <a type="button" class="btn btn-default navbar-btn" href="<%= signup_path %>">Sign up</a>
  		  <a type="button" class="btn btn-default navbar-btn" href="<%= login_path %>">Login</a>
		<% end %>
	    </ul>
	</div>
</div>			

</nav>

	<!--  TODO adjust style as needed
	style="background:#732C7C;background-color:#6f5499; 
																			background-image:-webkit-linear-gradient(top,#563d7c 0,#6f5499 100%);
																			background-image:linear-gradient(to bottom,#563d7c 0,#6f5499 100%);
																			background-repeat:repeat-x;
																			filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#563d7c', endColorstr='#6F5499', GradientType=0)" 
																			-->
