<nav class="navbar navbar-inverse navbar-static-top navbarspec" role="navigation" > 
	<div class="container">
		<div class="navbar-header">
		<!-- DanceSpace Name -->
			<a class="navbar-brand" href="<%= root_path %>" style="font-weight: 100; font-size: 30px; color:white">DanceSpace</a>
		</div>

	    <!-- Search bar -->
<!-- 		<form class="navbar-form navbar-left" role="search">
		<div class="form-group">
			<input type="text" class="form-control" placeholder="Search">
		</div>
		<button type="submit" class="btn btn-default">Submit</button>
		</form> -->

		<!-- User Profile Info -->
		<ul class="nav navbar-nav navbar-right">
		<% if user_signed_in? %>
 			<a href=<%= current_user.get_profile_url
 			%> class="btn btn-default navbar-btn"><strong><%=current_user.first_name %></strong></a>
	        <a href="<%= new_video_path %>" class="btn btn-default navbar-btn">Share a Video</a>
	        <a href="<%= random_user_path %>" class="btn btn-default navbar-btn">Random Dancer!</a>
	        <a href="<%= get_it_path %>" class="btn btn-default navbar-btn">Random Video!</a>

	        <a href="<%= logout_path %>" class="btn btn-default navbar-btn">Logout</a>
		<% else %>
		  <a type="button" class="btn btn-default navbar-btn" href="<%= signup_path %>">Sign up</a>
  		  <a type="button" class="btn btn-default navbar-btn" href="<%= login_path %>">Login</a>
		<% end %>
	    </ul>
	</div>
</nav>

	<!--  TODO adjust style as needed
	style="background:#732C7C;background-color:#6f5499; 
																			background-image:-webkit-linear-gradient(top,#563d7c 0,#6f5499 100%);
																			background-image:linear-gradient(to bottom,#563d7c 0,#6f5499 100%);
																			background-repeat:repeat-x;
																			filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#563d7c', endColorstr='#6F5499', GradientType=0)" 
																			-->
