<% if user_signed_in? %>
	<%= render "home/navbar" %>
	<div class="container spec">
		<div class="row">
			<!-- Side bar with actions -->
	        <div class="col-md-3">
	        	<%= render "home/sidebar" %>
	        </div>
			<!-- Page Content TODO: javascript it up-->
	    	<div class="col-md-9" style="background:#eee">
	    		<h2>Events Feed</h2>
	    		<p><span class="lead">Find upcoming events!</span><br /><small>All events in ascending order</small></p>
	    		<ul>
	    			<li>Sample Event</li>
	    			<ul><li>Details</li></ul>
					<% Event.find_each do |e| %>
					<li>
					  <a href="<%= event_path(e) %>"><%= e.name %></a>
					  <div>Description: <%= e.description %></div>
					  <div>Created by: <a href="<%= studio_path(e.studio_id)%>">STUDIO NAME TODO: need this.</a></div>
					  <div>Date and time: <%= e.event_date_time %></div>
					</li>
					<% end %>
	    		</ul>
	    	</div>
		</div>
	</div>
<% else %>
	<div class="ds-docs-header" id="content">
  	<div class="container headercopy">
    <h1>DanceSpace</h1>
    <p class="spec">An online community for dancers.</p>
    <p style="margin-top:10px;">
    <a type="button" class="btn btn-warning btn-lg" href="<%= signup_path %>">Sign up</a>
    <a type="button" class="btn btn-default btn-lg" href="<%= login_path %>">Login</a>
    </p>
	</div>
	</div>
<% end %>
