<% for e in events %>
<h2><b><a href="<%= event_path(e) %>"  data-no-turbolink="true"><%= e.name %></a></b></h2>
        <div><b><%= e.event_date %> at <%= e.event_time.strftime("%H:%M") %></b>, Hosted by: <a href="<%= studio_path(e.studio_id)%>"><%= e.studio.name %></a>
    	  <div><%= e.description %></div>
<% end %>
