<% for e in events %>
<h2><b><a href="<%= event_path(e) %>"  data-no-turbolink="true"><%= e.name %></a></b></h2>
<div>
  <b>
    <%= e.event_date %> at <%= e.event_time.strftime("%H:%M")
                               %>
  </b>, Hosted by:
  <a href="<%= studio_path(e.studio_id)%>"><%= e.studio.name %></a>
  <div><%= e.description %></div>
</div>
<% end %>

<div class="footer center" id="foot">
	<p>
    We are DanceSpace!<br/>
    | <%= link_to 'Home', root_path, class: "spec" %> | <%= link_to 'About', about_path, class: "spec" %> 
    | <%= link_to 'All Studios', studios_path, class: "spec" %> | <%= link_to 'All Events', events_path, class: "spec" %> | <%= link_to 'All Dancers', users_path, class: "spec" %> | <%= link_to 'All Tags', tags_path, class: "spec" %> |<br>
	<small> created 2014 </small>
</div>
