<%= render "home/navbar" %>
<div class="container spec submitter">
  <h1>Edit Event</h1>
  <div class="row">
    <div class="col-md-6">
      <%= bootstrap_form_for [@event] do |f| %>
        <%= f.alert_message "Please fix the errors below." %>
      <div>
        <%= f.text_field :name, placeholder: 'name' %>
      </div>
      <div>
        <%= f.text_area :description, placeholder: 'description' %>
      </div>
      <% if @event.errors.include?(:event_date_time) %>
      <br><br>
      <div class="alert
                  alert-danger"><%= @event.errors[:event_date_time][0] %></div> 
      <% end %>
      <div>
        <%= f.date_field :event_date, label: "Date" %>
      </div>
      <div>
        <%= f.time_field :event_time, label: "Time" %>
      </div>
      <div>
        <%= f.file_field :photo_path, label: "Profile Picture"%>
      </div>
      <div><%= f.text_field :tag_list, label: "Tags", placeholder:
               'List different styles with a comma in between (i.e tap, jazz, hip
               hop)' %>
      </div>
    </div><div class="col-md-6">
      <div>
          <%= f.text_field :address_line1, placeholder: 'address line 1', label: "Address (Line 1)" %>
        </div>
        <div>
          <%= f.text_field :address_line2, placeholder: 'address line 2', label: "Address (Line 2)" %>
        </div>
        <div>
          <%= f.text_field :city, placeholder: 'city' %>
        </div>
        <div>
          <%= f.select :state, options_for_select(us_states, @event.state) %>
        </div>
        <div>
          <%= f.text_field :zip_code, placeholder: 'zip code' %>
        </div>
      <div>
        <%= f.text_field :is_location_set, :value => -1, hide_label: true %>
        <br/><br/><br/>
        <%= f.submit 'Submit Changes', class: "btn btn-lg btn-warning btn-block" %>
      </div>
      <% end %>
    </div>
    </div>
</div>
