<%= render "home/navbar" %>

<div class="container spec">
<h1><b>All events</b></h1>


   <!-- SEARCH BAR -->
      <%= form_tag events_path, :method => 'get' do %>
      <div>
        <%= text_field_tag :search, params[:search] %>
        <%= submit_tag "Search", :name => nil, class: "btn btn-default" %>
      </div>
	<% end %>

  <script>
    setUpAJAX("search", "eventresults")

    function setUpAJAX(inputelem, resultsID){
      var onkeyupelem = document.getElementById(inputelem);
      onkeyupelem.onkeyup = function(){
        var input = document.getElementById(inputelem).value;
        autosearch(input, resultsID, "event");
      }
    }
  </script>

  <div id="eventresults">
    <% for e in @events do %>
    	  <h2><b><a href="<%= event_path(e) %>"  data-no-turbolink="true"><%= e.name %></a></b></h2>
    	  <div>Description: <%= e.description %></div>
    	  <div>Created by: <a href="<%= studio_path(e.studio_id)%>"><%= e.studio.name %></a></div>
     	  <div>Date and time: <%= e.event_date %>
                [at] <%= e.event_time.strftime("%H:%M") %></div>
    <% end %>
  </div>
</div>
