<% if flash.key?(:event_errors) %>
  <% flash[:event_errors].each do |k, v| %>
    <div>Attribute: <%= k %></div>
    <div>Error msg: <%= v %></div>
  <% end %>
  <% flash.delete(:event_errors) %>
<% end %>

<%= render "home/navbar" %>
<div class="container submitter">
<h1>Event Create</h1>
<%= bootstrap_form_for [@studio, @event] do |f| %>
  <div>
    <%= f.text_field :name, placeholder: 'name' %>
  </div>
  <div>
    <%= f.text_field :description, placeholder: 'description' %>
  </div>
  <div>
    <%= f.text_field :address_line1, placeholder: 'address line 1' %>
  </div>
  <div>
    <%= f.text_field :address_line2, placeholder: 'address line 2' %>
  </div>
  <div>
    <%= f.text_field :city, placeholder: 'city' %>
  </div>
  <div>
    <%= f.text_field :state, placeholder: 'state' %>
  </div>
  <div>
    <%= f.text_field :zip_code, placeholder: 'zip code' %>
  </div>
  <div>
    <%= f.datetime_select(:event_date_time) %>
  </div>
  <div>
    <%= f.submit 'Create Event', class: "btn btn-lg btn-warning btn-block" %>
  </div>
<% end %>
</div>
