<%= render "home/navbar" %>
<div class="container submitter">
<h1>Event Create</h1>
<%= bootstrap_form_for [@studio, @event] do |f| %>
  <div>
    <%= f.text_field :name, placeholder: 'name' %>
  </div>
  <div>
    <%= f.text_field :description, placeholder: 'description' %>
  </div>
  <div>
    <%= f.text_field :address_line1, placeholder: 'address line 1' %>
  </div>
  <div>
    <%= f.text_field :address_line2, placeholder: 'address line 2' %>
  </div>
  <div>
    <%= f.text_field :city, placeholder: 'city' %>
  </div>
  <div>
    <%= f.select :state, options_for_select(us_states, nil) %>
  </div>
  <div>
    <%= f.text_field :zip_code, placeholder: 'zip code' %>
  </div>
  <div>
    <%= f.datetime_select(:event_date_time) %>
  </div>
  <div>
    <%= f.file_field :photo_path, label: "Profile Picture"%>
  </div>
  <div>
    <%= f.text_field :tag_list, label: "Event tags", placeholder:
    'List different styles with a comma in between (i.e tap, jazz, hip
    hop)' %>
  </div>
  <div>
    <%= f.submit 'Create Event', class: "btn btn-lg btn-warning
    btn-block" %>
  </div>

<% end %>
</div>
