<% content_for :google_maps_js do %>
  <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=AIzaSyDCp9uQBt3IdKhOxbl1LgX1XFOCsKtdlRQ" %>
<% end %>

<%= render "home/navbar" %>
<div class="container spec display">
	<div class="row">
		<div class="col-md-12">
		<h1><%= @event.name %>
                  <% if current_user_owns_studio(@event.studio_id) %>
                    <%= link_to 'Edit', edit_event_path(@event), class:
                    "btn btn-warning" %>
                  <% end %>
		</h1>		
		  <p><b>Description</b><br><%= @event.description %></p>
	      <p><b>Created by</b><br><a href="<%= studio_path(@event.studio_id)%>"><%= @event.studio.name %></a></p>
	      <p><b>Date and time</b><br><%= @event.event_date_time %></p>
	      <p><b>Location</b><br>
			  <%= @event.address_line1 %> <%= @event.address_line2 %><br>
			  <%= @event.city %>, <%= @event.state %>
			  <%= @event.zip_code %>
		</p>
		    <% if current_user_owns_studio(@event.studio_id) %>
                <a href="/events/<%= params[:id] %>/set_location/" data-no-turbolink="true" class="btn btn-warning">Edit location</a>
                <div id="show-event-map-canvas"></div>
            <% end %>
		</div>
	</div>
</div>
