<% content_for :google_maps_js do %>
  <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=AIzaSyDCp9uQBt3IdKhOxbl1LgX1XFOCsKtdlRQ" %>
<% end %>

<%= render "home/navbar" %>
<div class="container spec display">
	<div class="row">
		<div class="col-md-12">
		<h1><%= @event.name %>
                  <% if current_user_owns_studio(@event.studio_id) %>
                    <%= link_to 'Edit', edit_event_path(@event), class:
                    "btn btn-warning" %>
                  <% end %>
		</h1>
                <%= get_event_profile_pic(@event.photo_path) %>
		  <p><b>Description</b><br><%= @event.description %></p>
	      <p><b>Created by</b><br><a href="<%= studio_path(@event.studio_id)%>"><%= @event.studio.name %></a></p>

                <p><b>Date and time</b><br><%= get_pst_time(@event.event_date_time) %></p>
	      <p><b>Tags</b><br>
	  	  <div style="padding-left:0px;">
	  	   <% for tag in @studio.tags %>
			 #<%= tag %>&nbsp;  
		   <% end %>
		   </div>

	      <p><b>Location</b><br>
			  <%= @event.address_line1 %> <%= @event.address_line2 %><br>
			  <%= @event.city %>, <%= @event.state %>
			  <%= @event.zip_code %>
		</p>

                <div id="show-event-map-canvas"></div>
		</div>
	</div>
</div>

<div id="get_event_id"><%= @event.id %></div>

<%= @event.photo_path %>
