<%= render "home/navbar" %>
<div class = "container spec submitter custom-form">
  <h1>Edit Studio Information</h1>
  <%= bootstrap_form_for @studio do |f| %>
   <%= f.alert_message "Please fix the errors below." %>
    <div>
      <%= f.text_field :name, label: "Studio Name: " %>
    </div>
    <div>
      <%= f.text_area :description, label: "About: " %>
    </div>
    <div>
      <%= f.text_field :fb_url, label: "Facebook: " %>
    </div>
    <div>
      <%= f.text_field :twtr_url, label: "Twitter: " %>
    </div>
    <div>
      <%= f.text_field :yt_url, label: "YouTube: " %>
    </div>
    <div>
      <%= f.text_field :ig_url, label: "Instagram: " %>
    </div>
    <div>
      <%= f.text_field :website_url, label: "Studio Website: " %>
    </div>
    <div>
      <%= f.email_field :email, label: "E-mail: " %>
    </div>
    <div>
      <% if @studio.errors.include?(:phone) %>
      <br><br>
        <div class="alert alert-danger"><%= @studio.errors[:phone][0] %></div>
      <% end %>
      <%= f.text_field :phone_area_code, label: "Phone: (", :size => 3, :maxlength => 3 %><b> )</b>
      <%= f.text_field :phone_1, hide_label: true, :size => 3, :maxlength => 3  %><b>&nbsp;-</b>
      <%= f.text_field :phone_2, hide_label: true, :size => 5, :maxlength => 4  %>
    </div>
    <div>
      <%= f.submit 'Save' %>
    </div>
    <% end %>
</div>
