<%= render "home/navbar" %>
<div class="spec container all-page">
	<h1><b>All Studios</b></h1>
	<% for s in @studios do %>
		<div class="row">
			<div class="listing-photo col-md-2">
				<%= image_tag "studio1.jpg" %>
			</div>
			<div class="listing-info col-md-6">
				<h3><b><a href= <%= studio_path(s) %> data-no-turbolink="true" > <%= s.name %> </a></h3></b>
				<h5><b>Location</b>: <%= s.get_address %></h5>
				<div class="listing-blurb"><h5><%= s.description %></h5></div>
			</div>
			<div class="col-md-4 social-media">
				<a href=<%=s.yt_url%> target="_blank"> <%= image_tag "youtube-icon.png" %> </a>
				<a href=<%=s.fb_url%> target="_blank"> <%= image_tag "facebook-icon.png" %> </a><br/>
				<b>E-MAIL:</b> <%= s.email %> <br/>
				<b>PHONE: </b>(<%= s.phone_area_code %>) <%= s.phone_1 %> - <%= s.phone_2 %>
			</div>
		</div>
		<hr>
	<% end %>
</div>
