<%= render "home/navbar" %>
<div class = "container spec submitter" style="max-width:500px;">
  <h1>New Studio</h1>
  <%= bootstrap_form_for @studio do |f| %>
  <%= f.alert_message "Please fix the errors below." %>
  <div>
    <%= f.text_field :name, placeholder: 'Name', label: "Studio Name: " %>
  </div>
  <div>
    <%= f.text_area :description, placeholder: 'Briefly introduce your studio', label: "About: " %>
  </div>
  <div>
    <%= f.text_field :address_line1, placeholder: 'address line 1' %>
  </div>
  <div>
    <%= f.text_field :address_line2, placeholder: 'address line 2' %>
  </div>
  <div>
    <%= f.text_field :city, placeholder: 'city' %>
  </div>
  <div>
    <%= f.select :state, options_for_select(us_states, nil) %>
  </div>
  <div>
    <%= f.text_field :zip_code, placeholder: 'zip code' %>
  </div>
  <div>
    <%= f.text_field :fb_url, placeholder: 'Facebook URL', label: "Facebook URL: " %>
  </div>
  <div>
    <%= f.text_field :twtr_username, placeholder: 'Twitter Username', label: "Twitter Username: " %>
  </div>
  <div>
    <%= f.text_field :ig_url, placeholder: 'Instagram URL', label: "Instagram URL: " %>
  </div>
  <div>
    <%= f.text_field :yt_username, placeholder: 'Youtube Username', label: 'Youtube Username' %>
  </div>
  <div>
    <%= f.text_field :website_url, placeholder: 'Website URL', label: "Website: "%>
  </div>
  <div>
    <%= f.file_field :photo_path, label: "Profile Picture"%>
  </div>
  <div>
    <%= f.email_field :email, placeholder: 'Email', label: "Email: " %>
  </div>
  <div>
      <% if @studio.errors.include?(:phone) %>
        <div class="alert alert-danger"><%= @studio.errors[:phone][0] %></div>
      <% end %>
        <%= f.text_field :phone_area_code, label: "Phone:", :size => 3, :maxlength => 3, prepend: "(", append: ")" %>
        <%= f.text_field :phone_1, hide_label: true, :size => 3, :maxlength => 3, append: "-"  %>
        <%= f.text_field :phone_2, hide_label: true, :size => 5, :maxlength => 4  %>
  </div>
  <div><%= f.text_field :tag_list, label: "Studio tags", placeholder:
    'List different styles with a comma in between (i.e tap, jazz, hip
    hop)' %>
  </div>
  <div>
    <%= f.submit 'Create Studio', class: "btn btn-block btn-warning" %>
  </div>
  <% end %>
</div>
