<%= render "home/navbar" %>
	<div class="container spec">
		<h1>Set Studio Location on Map 
				<a href="<%= studio_path(params[:studio_id]) %>" data-no-turbolink="true" class="btn btn-warning"> Skip setting location</a>
			</h1>

<% content_for :google_maps_js do %>
  <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=AIzaSyDCp9uQBt3IdKhOxbl1LgX1XFOCsKtdlRQ" %>
<% end %>
	
	<!-- CSS is in maps.css -->
		<input id="address" type="textbox" placeholder="Stanford, CA"/>
		  <input type="submit" onclick="codeStudioAddress()" class="btn btn-default" value="Go to new address"/>
		  		<%= form_for @studio do |f| %>
		  <%= f.text_area :lat %>
		  <%= f.text_area :lng %>
		  <%= f.submit 'Set location', class: "btn btn-warning btn-lg" %>
		<% end %>


		<div style="margin-top:20px" id="set-studio-location-map"></div>
		<div class="container" style="padding-top:20px;">
		<div id="panel">
		</div>
		<div id="error"></div>

		<div style="text-align:center">

	</div>
</div>
