<%= render "home/navbar" %>
<div class="profile-container">
	<div class="profile-header">
			<div class="propic">
				<% @imgname = "studio" + @studio.id.to_s + ".jpg" %>
				<%= image_tag @imgname %>
			</div>
			<div class="main-info">
				<h1><%=@studio.name%></h1>
				Address [line 1]<br/>
				Address [line 2]<br/>
				<a href = <%= @studio.website_url %> target="_blank"> <%= @studio.website_url %></a> <br/>
			</div>
		<div class="social-media">
			<a href=<%=@studio.yt_url%> target="_blank"> <%= image_tag "youtube-icon.png" %> </a>
			<a href=<%=@studio.fb_url%> target="_blank"> <%= image_tag "facebook-icon.png" %> </a><br/>
			<a href=<%=@studio.ig_url%> target="_blank"> <%= image_tag "insta-icon.png" %> </a>
			<a href=<%=@studio.twtr_url%> target="_blank"> <%= image_tag "twitter-icon.png" %> </a><br/>	
		<b>E-MAIL:</b> <%= @studio.email %> <br/>
		<b>PHONE: </b>(<%= @studio.phone_area_code %>) <%= @studio.phone_1 %> - <%= @studio.phone_2 %>
		</div>
	</div>

	<div class="blurb">
		<p><%=@studio.description%></p>
	</div>
    <% if current_user_owns_studio(@studio.id) %>
      <div>
        <%= link_to 'Create Event', new_studio_event_path(studio_id: @studio) %> 
      </div>
    <% end %>
</div>
<br><br>
<h2> This Studio's Event List (from upcoming to far in the
  future) </h2>
<% @events.each do |e| %>
  <a href=<%= event_path(e) %>><%= e.name %></a>
  <div><%= e.event_date_time %></div>
<% end %>
  
