<% content_for :google_maps_js do %>
  <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=AIzaSyDCp9uQBt3IdKhOxbl1LgX1XFOCsKtdlRQ" %>
<% end %>

<%= render "home/navbar" %>
<div class="profile-container spec container">
	<div class="profile-header row">
			<div class="col-md-3 propic">
				<%= image_tag "studio1.jpg" %>
			</div>
			<div class="col-md-4 main-info">
				<h1><b><%=@studio.name%></b></h1><br/>
				<%= @studio.address_line1 %><br/>
				<%= @studio.address_line2 %><br/>
                                <%= @studio.city %>, <%= @studio.state%> <%= @studio.zip_code %>
				<a href = <%= @studio.website_url %> target="_blank"> <%= @studio.website_url %></a> <br/>
			</div>
		<div class="col-md-5 social-media">
			<a href=<%=@studio.yt_url%> target="_blank"> <%= image_tag "youtube-icon.png" %> </a>
			<a href=<%=@studio.fb_url%> target="_blank"> <%= image_tag "facebook-icon.png" %> </a><br/>
			<a href=<%=@studio.ig_url%> target="_blank"> <%= image_tag "insta-icon.png" %> </a>
			<a href=<%=@studio.twtr_url%> target="_blank"> <%= image_tag "twitter-icon.png" %> </a><br/>	
			<b>E-MAIL:</b> <%= @studio.email %> <br/>
			<b>PHONE: </b>(<%= @studio.phone_area_code %>) <%= @studio.phone_1 %> - <%= @studio.phone_2 %>
		</div>
	</div>

	<div class="blurb row col-md-12">
		<p><%=@studio.description%></p>
	</div>
    <% if current_user_owns_studio(@studio.id) %>
      <div>
        <%= link_to 'Create Event', new_studio_event_path(studio_id: @studio) %> 
      </div>
    <% end %>
    <br><br>

    <div id="show-studio-map-canvas"></div>
    <a href="/studios/<%= params[:id] %>/set_location/"
    data-no-turbolink="true">Edit location</a>

    
	<h2> This Studio's Event List (from upcoming to far in the
	  future) </h2>
	<% @events.each do |e| %>
	  <a href=<%= event_path(e) %>><%= e.name %></a>
	  <div><%= e.event_date_time %></div>
<% end %>
</div>

  
