<!DOCTYPE html>
<html>
<head>
  <title>DanceSpace</title>
  <%= yield :google_maps_js %>
  <%= javascript_include_tag "http://cdn.peerjs.com/0.3/peer.js" %>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= javascript_tag "var AUTH_TOKEN = '#{form_authenticity_token}';" if protect_against_forgery? %>
</head>
<body>
		<%= yield %>

<div class="footer center" id="foot">
	<p>
    We are DanceSpace!<br/>
    | <%= link_to 'Home', root_path, class: "spec" %> | <%= link_to 'About', about_path, class: "spec" %> 
    | <%= link_to 'All Studios', studios_path, class: "spec" %> | <%= link_to 'All Events', events_path, class: "spec" %> | <%= link_to 'All Dancers', users_path, class: "spec" %> | <%= link_to 'All Tags', tags_path, class: "spec" %> |<br>
	<small> created 2014 </small>
</div>
</body>
</html>
