<!DOCTYPE html>
<html>
<head>
  <title>DanceSpace</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>

  <%= csrf_meta_tags %>
</head>
<body>
		<%= yield %>

<div class="footer center">
	<p>
    We are DanceSpace!<br/>
    | <%= link_to 'Home', root_path, class: "spec" %> | <%= link_to 'About', about_path, class: "spec" %> | <%= link_to 'All Studios', studios_path, class: "spec" %> | <%= link_to 'All Videos', videos_path, class: "spec" %> | <%= link_to 'All Events', events_path, class: "spec" %> | <%= link_to 'All Dancers', users_path, class: "spec" %> |<br>
	<small> created 2014 </small>
</div>
</body>
</html>
